<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>柱状图</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="author" content="Cecilia Lee">
<script src="../static/esl.js"></script>
<script src="../static/jquery.min.js"></script>
</head>
<body>
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="main" style="height:500px;width:900px"></div>
</body>
<script type="text/javascript">
  // 路径配置
  require.config({
    paths:{ 
      'echarts' : '../static/echarts',
      'echarts/chart/line' : '../static/chart/line',
      'echarts/chart/bar' : '../static/chart/bar'
    }
  });
require(
[
  'echarts',
  'echarts/chart/line',// 使用柱状图就加载bar模块，按需加载
  'echarts/chart/bar'
],
    function (ec) {
  // 基于准备好的dom，初始化echarts图表
  myChart = ec.init(document.getElementById('main')); 
  
  var option = {
    title : {
        text: '土地成交价格柱状图',
        subtext: '横坐标按距离从远到近'
    },
    tooltip : {
        trigger: 'axis'
    },
    legend: {
        data:[
            '起始价（元）','成交价（元）'           
        ]
    },
    toolbox: {
        show : true,
        feature : {
            mark : {show: true},
            dataView : {show: true, readOnly: false},
            magicType : {show: true, type: ['line', 'bar']},
            restore : {show: true},
            saveAsImage : {show: true}
        }
    },
    calculable : true,
    grid: {y2:80},
    xAxis : [
        {
            type : 'category',
            name : '土地'+'\n'+'编号',
            axisLabel: {show:true,
                       formatter:function(val){
                            return val.split(".").join("\n");
                       },
                        interval:0,
                        rotate:40
                        
        },
             
            data : ['NO.2015G26', 'NO.2015G27', 'NO.2015G29', 'NO.2015G34', 'NO.2015G35', 'NO.2015G41', 'NO.2015G42', 'NO.2015G45', 'NO.2015G50', 'NO.2015G53', 'NO.2015G55', 'NO.2015G56', 'NO.2015G57', 'NO.2015G58', 'NO.2015G60', 'No.宁2015GY27', 'No.宁2015GY28', 'NO.宁六（2012）GY025', 'NO.宁六（2012）GY028', 'NO.宁六（2014）GY021']
        },
        {
            type : 'category',
            axisTick: {show:false},
            axisLabel: {show:false},
            splitArea: {show:false},
            splitLine: {show:false},
            data : ['NO.2015G26', 'NO.2015G27', 'NO.2015G29', 'NO.2015G34', 'NO.2015G35', 'NO.2015G41', 'NO.2015G42', 'NO.2015G45', 'NO.2015G50', 'NO.2015G53', 'NO.2015G55', 'NO.2015G56', 'NO.2015G57', 'NO.2015G58', 'NO.2015G60', 'No.宁2015GY27', 'No.宁2015GY28', 'NO.宁六（2012）GY025', 'NO.宁六（2012）GY028', 'NO.宁六（2014）GY021']
        }
    ],
    yAxis : [
        {
            type : 'value',
            name : '每平方米均价（元）',
            axisLabel:{formatter:'{value} '}
        }
    ],
    series : [
        {
            name:'起始价（元）',
            type:'bar',
            itemStyle: {normal: { color: function(params) {
                        // build a color map as your need.
                        var colorList = [
 'rgba(193,35,43,1)','rgba(181,195,52,1)','rgba(252,206,16,1)','rgba(232,124,37,1)','rgba(39,114,123,1)','rgba(254,132,99,1)','rgba(155,202,99,1)','rgba(250,216,96,1)','rgba(243,164,59,1)','rgba(96,192,221,1)','rgba(215,80,75,1)','rgba(198,229,121,1)','rgba(244,224,1,1)','rgba(240,128,90,1)','rgba(38,192,192,1)'
                        ];
			switch ( params.dataIndex )
			{
			case 6:case 7:
				colorindex = 2;
				break;
			case 15:case 16:case 17:case 18:case 19:
				colorindex = 9;
				break;
			case 1:case 2:case 4:case 9:case 10:case 12:
				colorindex = 8;
				break;
			default:
				colorindex=6;
				break;
			}
			return colorList[colorindex];
			
                    }, label:{show:false,textStyle:{color:'#E87C25'}}}},
            data:[22659.13, 9584.49, 27631.78, 34514.43, 12719.69, 14988.36, 6334.09, 3369.31, 13570.14, 12210.33, 14179.65, 21918.58, 28653.30, 6557.77, 4600.37, 600.12, 499.32, 207.12, 204.13, 287.73]
        },
        {
            name:'成交价（元）',
            type:'bar',
            xAxisIndex:1,
            itemStyle: {normal: {color:function(params) {
                        // build a color map as your need.
                        var colorList = [			'rgba(193,35,43,0.5)','rgba(181,195,52,0.5)','rgba(252,206,16,0.5)','rgba(232,124,37,0.5)','rgba(39,114,123,0.5)','rgba(254,132,99,0.5)','rgba(155,202,99,0.5)','rgba(250,216,96,0.5)','rgba(243,164,59,0.5)','rgba(96,192,221,0.5)','rgba(215,80,75,0.5)','rgba(198,229,121,0.5)','rgba(244,224,1,0.5)','rgba(240,128,90,0.5)','rgba(38,192,192,0.5)'
                        ];
			switch ( params.dataIndex )
			{
			case 6:case 7:
				colorindex = 2;
				break;
			case 15:case 16:case 17:case 18:case 19:
				colorindex = 9;
				break;
			case 1:case 2:case 4:case 9:case 10:case 12:
				colorindex =8;
				break;
			default:
				colorindex=6;
				break;
			}
			return colorList[colorindex];
                    }, label:{show:true,textStyle:{color:'#E87C25'}}}},
            data:[32971.94, 9656.02, 40116.02, 50175.43, 18443.56, 21814.19, 6334.09, 3369.31, 19722.41, 17734.06, 20597.81, 31894.91, 41797.03, 8055.07, 6740.08, 600.13, 499.33, 207.12, 204.14, 287.73]

        },
        
    ]
};
  
  // 为echarts对象加载数据 
  myChart.setOption(option); 
});
</script>
