<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>土地信息查询</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="author" content="Cecilia Lee">
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=IHBz7WW8iAVI4eIqDzVTyrV7"></script>
<script src="../static/esl.js"></script>
<script src="../static/jquery.min.js"></script>
<script src="../static/jquery-1.9.1.js"></script>
<!--
.STYLE2 {font-size: 16px}
-->
    </style>
</head>
<body style="background:#CBE1FF">
<div style="position: absolute;width:730px;margin:auto;">   
        <div align="left">
          <p>要查询的地址：
            <input id="text1" type="text" value="南京站" style="margin-right:70px;"/>
        查询结果(经纬度)：
        <input id="result1" type="text" style="width:60px;"/>      
        <input id="result2" type="text" style="width:60px"/>
		<input type="button" value="查询" onClick="searchByStationName();"/>
		<a href=# id="touch">计算</a>
		 <span id=result>?</span>
                <br/>
        要查询的地址：
        <input id="text2" type="text" value="南京理工大学" style="margin-right:70px;"/>
        查询结果(经纬度)：
        <input id="result3" type="text" />
        <input type="button" value="查询" onClick="searchByStationName2();"/>
        <input type="button" value="计算距离" id="button"/>
            <input type="text" id="districtName" onFocus="this.select()"/>
            <input type="button" onClick="getBoundary()" value="获取轮廓线"/>
          </p>
        </div>
</div> 
    <div id="container" 
            style="position: absolute;
                margin-top:52px; 
                width: 730px; 
                height: 580px; 
                top: 50; 
                border: 1px solid gray;">
    </div>  
    <div align="left"></div>
     <div id ="bar2" style="position: absolute;
                margin-top:700px; 
                width: 730px; 
                height: 500px; 
                border: 1px solid gray;" >
</div> 
      <p>&nbsp;</p>
  <p class="STYLE2" style="position: absolute; width:700px; margin:auto; left: 750px; top: 70px; height: 400px;">相关分析结果 </p>
      <div id ="line2" style="position: absolute; width:700px; margin:auto; left: 750px; top: 140px; height: 450px;"> 
      </div>
<div id ="scatter2" style="position: absolute; width:700px; margin:auto; left: 750px; top: 600px; height: 500px;">
 </div>
</body>
<script src="../static/map.js"></script> 

<script type="text/javascript">
var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script> 
<script src="../static/getmap.js"></script> 
<script src="../static/scatter2.js"></script> 
<script src="../static/bar2.js"></script> 
<script src="../static/line2.js"></script> 
</html>
